
  /* Ensure the image inside the card is responsive and maintains aspect ratio */
.card-img-top {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure the image covers the area */
}

/* Ensuring card layout adapts to different screen sizes */
.card {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}

.card-body {
  padding: 1rem;
}

@media (max-width: 750px) {
  .card-body {
    padding: 0.5rem;
  }
}

#image:hover{
  transform: scale(1.5);
}